<div class="navbar">
    <a href="{{ url_for('home') }}"><button class="nav-button">🏠 Home</button></a>
    <a href="{{ url_for('mostri') }}"><button class="nav-button">👹 Mostri</button></a>
    <a href="{{ url_for('oggetti') }}"><button class="nav-button">🗡️ Oggetti</button></a>
    <a href="{{ url_for('incantesimi') }}"><button class="nav-button">🪄 Incantesimi</button></a>
    <a href="{{ url_for('new_5e') }}"><button class="nav-button">📜 Nuove aggiunte 5e</button></a>
    <a href="{{ url_for('dadi') }}"><button class="nav-button">🎲 Dadi</button></a>

    <!-- NUOVO LINK -->
    <a href="{{ url_for('scheda') }}"><button class="nav-button">🧙 Scheda Personaggio</button></a>
</div>