{% extends "base.html" %}
{% block title %}Home — D&D 5e{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Uncial+Antiqua&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Titolo -->
<div class="title">
    D&D 5E
</div>

<!-- Descrizione gioco -->
<div class="description">
    Dungeons & Dragons 5ª Edizione è un gioco di ruolo fantasy in cui i giocatori
    interpretano eroi che esplorano mondi fantastici, affrontano mostri,
    scoprono tesori e vivono avventure epiche guidate dalla narrazione
    e dal lancio dei dadi.
</div>

<!-- Descrizione API -->
<div class="api-box">
    <h2>API Description</h2>
    <p>
        <!-- PLACEHOLDER -->
        La nostra API permette di consultare in modo semplice e veloce i contenuti principali di D&D 5ª Edizione.
        Attraverso specifiche richieste è possibile visualizzare l’elenco dei mostri con le loro descrizioni dettagliate, gli oggetti con caratteristiche e utilizzi, e gli incantesimi completi di effetti e informazioni utili per il gioco.

        Inoltre, l’API include anche una sezione dedicata alle principali novità introdotte dalla 5ª Edizione rispetto alla 4ª, offrendo un elenco chiaro delle aggiunte e dei cambiamenti più rilevanti nel sistema di gioco.
    </p>
</div>
{% endblock %}